[Unit]
Description=sink manager for sink connected to /dev/ttyUSB0
Requires=getty.target
[Service]
Type=simple
User=root
ExecStart=/root/wirepas/sinkService -b 115200 -p /dev/ttyUSB0 -i 1
Restart=always
RestartSec=5
[Install]
WantedBy=multi-user.target
